Linkedin scraper.json
{
  "name": "Linkedin scraper",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "Parse the query you are given and output the follow parameters seperately...parse the industry from the title and keywords if needed: \n\njobTitle\ncompanyIndustry\nlocation\nprofilesToScrape",
              "role": "system"
            },
            {
              "content": "=Job Title + Keywords: {{ $json['Keywords / Job Titles'] }}\nLocation: {{ $json.Location }}\nNew Profiles to Scrape: {{ $json['Number of NEW Profiles to Find'] }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -688,
        448
      ],
      "id": "51bd95c1-fee8-456b-ba38-0fd4b83bd2fc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "TM0cYlUQsQroyXgM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://customsearch.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key"
            },
            {
              "name": "=cx"
            },
            {
              "name": "q",
              "value": "=site:linkedin.com/in  {{ $json.jobTitle }} {{ $json.industry }} {{ $json.location }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $json.startIndex + ($pageCount * 10) }}\n"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": "={{ $json.pagesToFetch }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        528
      ],
      "id": "699d9eb8-224c-4d2d-b9e6-e08cd5d3bc66",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// \"Filter Data\" Code Node\n// 1) Get *all* items from the Merge node\nconst allItems = $input.all();\n\n// 2) Find the one item that holds `existingSet`\nlet existingSetArray = [];\nconst existingSetItem = allItems.find(item => Array.isArray(item.json.existingSet));\nif (existingSetItem) {\n  existingSetArray = existingSetItem.json.existingSet;\n}\nconst existingSet = new Set(existingSetArray);\n\n// 3) Prepare a set to track duplicates in this run and an output array\nconst seenLinksDuringThisRun = new Set();\nconst filteredOutput = [];\n\n// 4) Loop through any items that have the Google search results\n//    (they typically have `kind === 'customsearch#search'` in item.json)\nfor (const item of allItems) {\n  if (item.json.kind === 'customsearch#search') {\n    const searchResults = item.json.items || [];\n    for (const result of searchResults) {\n      const url = result.link?.trim().toLowerCase();\n      if (!url) continue;\n\n      // Skip if we've already seen it this run or it's in existingSet\n      if (!seenLinksDuringThisRun.has(url) && !existingSet.has(url)) {\n        seenLinksDuringThisRun.add(url);\n        filteredOutput.push({\n          json: {\n            name: result.title,\n            url: result.link,\n          },\n        });\n      }\n    }\n  }\n}\n\n// 5) Return newly-found unique profiles\nreturn filteredOutput;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        416
      ],
      "id": "4e68ed8d-bdd3-4457-b356-3fe614796a1d",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// --- Get Data from Merged Input & Trigger ---\n\n// Access the single merged item (contains OpenAI results & Count)\nconst mergedInput = $input.item.json;\nconsole.log(\"Code Node Input (Merged):\", JSON.stringify(mergedInput, null, 2)); // Log for debugging\n\n// Access OpenAI results (VERIFY PATH from Merge1 output)\nconst openAIData = mergedInput.message?.content;\nconst jobTitle = openAIData?.jobTitle;\nconst location = openAIData?.location;\nconst industry = openAIData?.companyIndustry;\n\n// Access the count (VERIFY PATH from Merge1 output)\nconst existingCount = mergedInput.existingCount;\n\n// Access data DIRECTLY from the form trigger node\n// !! REPLACE 'On form submission' with YOUR ACTUAL TRIGGER NODE NAME !!\nconst formTriggerNodeName = 'On form submission';\nconst formTriggerNode = $(formTriggerNodeName).first();\n\n// Check if trigger node reference worked\nif (!formTriggerNode || !formTriggerNode.json) {\n  throw new Error(`Could not find valid data structure from trigger node named '${formTriggerNodeName}'. Check node name.`);\n}\nconst formTriggerJson = formTriggerNode.json;\n\n// Access specific fields using bracket notation for names with spaces/slashes\n// !! VERIFY THESE FIELD NAMES EXACTLY from Form Trigger output !!\nconst profilesToFetchFieldName = 'Number of NEW Profiles to Find'; // <-- VERIFY THIS NAME\nconst queryIdentifierFieldName = 'Campaign Name / Identifier';   // <-- As provided by user\n\nconst profilesToFetch = formTriggerJson[profilesToFetchFieldName] || 50; // Default to 50\nconst queryIdentifier = formTriggerJson[queryIdentifierFieldName];\n\n// --- Validate Inputs ---\nif (existingCount === undefined) {\n  throw new Error(\"`existingCount` is missing from merged input. Check Merge1 output/connections.\");\n}\n// Check if data was successfully retrieved from the trigger\nif (profilesToFetch === undefined || queryIdentifier === undefined) {\n    throw new Error(`Form trigger data ('${profilesToFetchFieldName}' or '${queryIdentifierFieldName}') could not be accessed from node '${formTriggerNodeName}'. Check field names and trigger output.`);\n}\nif (!openAIData || !jobTitle || !location ) {\n   throw new Error(\"OpenAI data (`message.content`, `jobTitle`, or `location`) is missing from merged input. Check Merge1 output/connections.\");\n}\n\n// --- Calculations ---\nconst startIndex = Math.floor(existingCount / 10) * 10 + 1;\nconst pagesToFetch = Math.ceil(profilesToFetch / 10);\n\n// --- Prepare Output ---\nconst outputData = {\n  json: {\n     startIndex: startIndex,\n     pagesToFetch: pagesToFetch,\n     jobTitle: jobTitle,\n     location: location,\n     industry: industry,\n     queryIdentifier: queryIdentifier,\n     _debug_existingCount: existingCount,\n     _debug_profilesToFetch: profilesToFetch\n   }\n};\n\n// Return the single item containing all parameters\nreturn [outputData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        528
      ],
      "id": "cd07af5c-e330-438f-85f5-dfab74879b90",
      "name": "Code1"
    },
    {
      "parameters": {
        "content": "# | LinkedIn URL Scraper\n\n",
        "height": 660,
        "width": 1960,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1008,
        160
      ],
      "id": "8f930334-444e-46b1-b594-b48b212634f5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# | LinkedIn Profile Scraper\n",
        "height": 688,
        "width": 1500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        160
      ],
      "id": "3476483c-65cb-4511-b8ef-0706d92dfec0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ",
          "mode": "list",
          "cachedResultName": "Linkedin Outreach URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -688,
        288
      ],
      "id": "8e3da63d-9138-470e-bfbe-0d5af0d5d561",
      "name": "Get Existing URLs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Node: \"Build Existing Set\"\nconst allItems = $input.all(); // Get all input items (n8n structure)\nconst existingURLs = new Set(); // Initialize a Set for unique URLs\n\n// Loop through each input item\nfor (const item of allItems) {\n  // Access the JSON data within the item using item.json\n  // Use the CORRECT key 'url' (lowercase)\n  // Also, good practice to check if it's actually a string before trimming\n  if (item.json.url && typeof item.json.url === 'string') {\n    // Add the trimmed, lowercase URL to the Set\n    existingURLs.add(item.json.url.trim().toLowerCase());\n  } else {\n    // Optional: Log if a URL is missing or not a string, for debugging\n    // console.log(`Skipping item at row_number ${item.json.row_number}: URL missing or not a string.`);\n  }\n}\n\n// Return a single item containing an array of the unique URLs\n// Convert the Set back to an Array for the final JSON output\nreturn [{\n  json: {\n    existingSet: Array.from(existingURLs), // Convert Set to Array\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        288
      ],
      "id": "b05087a7-b070-44b3-b790-4e8e03ecefaa",
      "name": "Build Existing Set"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        240,
        416
      ],
      "id": "95f6366d-3b01-459e-a83c-d47f5042d585",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Your final output MUST be a single JSON object containing exactly three top-level keys: \"linkedinSummary\", \"outreachMessage\", and \"company\". Do not include the key names (like 'linkedinSummary:') within the string values themselves.\n\nParse the provided LinkedIn profile data based on the following analysis focus:\n\n## ANALYSIS FOCUS\n1. Extract core professional data:\n   - Name, current role, and company\n   - Specific technical skills or areas of expertise that indicate decision-making responsibilities or interests relevant to AI consulting.\n2. Identify actionable sales angles:\n   - Look for recent skill acquisitions, certifications, or specific technology affiliations.\n   - Note projects, achievements, or priorities mentioned that AI could potentially enhance.\n3. Determine relationship leverage points:\n   - Find unusual or distinctive aspects of their background, specific achievements, or interests mentioned in the profile.\n\n## CONTENT for the \"linkedinSummary\" key:\nProvide a **single string** value for this key. Within this string, include the following information formatted clearly (e.g., using bullet points or concise paragraphs):\n- PROFESSIONAL SNAPSHOT (2-3 points): Current role/company, key technical/business specializations relevant to potential AI adoption, career insights suggesting priorities.\n- OUTREACH ANGLES (2-3 points): Specific technologies used, notable projects/achievements, certifications, or stated goals where AI might apply.\n- UNIQUE CONNECTOR (1 point): One distinctive detail (hobby, unique experience, specific achievement) mentioned in the profile.\n\n## CONTENT for the \"outreachMessage\" key:\nProvide a **single string** value for this key. This string should contain a brief 2-3 sentence LinkedIn message that:\n- Mentions our company (ChaseAI) and our offering (AI consulting).\n- Connects the offering to their specific role, company, or details identified in the analysis (from the linkedinSummary content).\n- Includes a brief call to action or expresses interest in connecting further.\n\n## CONTENT for the \"company\" key:\nProvide a **single string** value for this key containing only the name of their current company as identified in the profile data.\n\nIMPORTANT: Don't make assumptions or add information not present in the data. If information for a specific point is unavailable, omit that point or note its absence concisely within the relevant string value. Ensure the final output is only the JSON object with the three specified keys and their string values."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        1824,
        480
      ],
      "id": "b3d5c81e-a9f9-4494-8fdd-29af84091731",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1648,
        480
      ],
      "id": "09887fcd-c182-4b8f-bac9-653cda65eab3",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "toolDescription": "=Tavily Search provides real-time web search capabilities. This tool searches the internet for current information beyond your training data.\n\nUSAGE:\n- POST to https://api.tavily.com/search\n- Authentication: Bearer token required\n\nKEY PARAMETERS:\n- query: [Required] Your search query in natural language\n- search_depth: \"basic\" (faster) or \"advanced\" (comprehensive)\n- include_domains/exclude_domains: Control which sites to search\n- max_results: Number of results (default: 5)\n- include_answer: Boolean for AI-generated summary\n- include_raw_content: Boolean for full text\n\nRESPONSE:\nReturns JSON with search results containing URLs, titles, snippets, and relevance scoring.\n\nUse placeholders for dynamic searching based on context. Essential for retrieving factual, up-to-date information on leads and companies.",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "Authorization",
              "valueProvider": "fieldValue",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "search_depth",
              "valueProvider": "fieldValue",
              "value": "advanced"
            },
            {
              "name": "max_results",
              "valueProvider": "fieldValue",
              "value": "5"
            },
            {
              "name": "time_range",
              "valueProvider": "fieldValue",
              "value": "year"
            },
            {
              "name": "include_images",
              "valueProvider": "fieldValue",
              "value": "true"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        16,
        1264
      ],
      "id": "8efbb26f-e93d-4a08-bc4d-e8c05122d7f6",
      "name": "tavilysearch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=company: {{ $json.company }}\n\nLinkedin summary: {{ $json[\"linkedin summary\"] }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a Company Information Synthesizer. Your primary goal is to extract key information about a target company by leveraging the `tavilysearch` tool, prioritizing content likely originating from the company's official website. Your secondary goals are finding a general company contact email and checking third-party sources for customer sentiment. You will be given the company name, as well as a summary about someone within the company.\n\n**CORE DIRECTIVES:**\n1.  **TOOL USAGE:** You MUST ONLY use the `tavilysearch` tool for information gathering.\n2.  **PRIMARY SOURCE FOCUS (Website):** Prioritize finding and summarizing information directly presented on the company's official website (e.g., About Us, News/Blog/Press sections, Product/Service pages, Contact Us page). Use Tavily to locate these pages or relevant summaries.\n3.  **SECONDARY SOURCE (Sentiment ONLY):** Use Tavily to search third-party review sites (G2, Capterra, etc.) or forums (Reddit) ONLY for customer sentiment.\n4.  **EXCLUSION:** Do NOT include information from LinkedIn pages.\n5.  **RECENCY:** For news and highlights, focus on information from the last 12-18 months.\n6.  **CONCISENESS:** Keep summaries brief and factual.\n7.  **ACCURACY:** Do not invent information.\n\n**RESEARCH FOCUS (Guide for using Tavily):**\n*   **Core Business:** Search for \"[Company Name] About Us\", \"[Company Name] Mission\", or what the company does, aiming for results likely linking to or summarizing their main website content.\n*   **Recent Website News:** Search for \"[Company Name] news\", \"[Company Name] press release\", \"[Company Name] blog\", looking for recent announcements likely hosted on their domain.\n*   **Products/Services:** Search for \"[Company Name] products\", \"[Company Name] services\", aiming for results describing their core offerings, likely from their website.\n*   **Company Contact Email:** Search for \"[Company Name] contact email\", \"[Company Name] contact us\", \"[Company Name] sales email\", aiming for results showing a general contact address (e.g., info@, sales@, contact@) likely from their contact page.\n*   **Third-Party Sentiment:** Search `\"[Company Name] review site:g2.com\"`, `\"[Company Name] reddit discussion\"`, etc.\n\n**OUTPUT FORMAT:**\nYour final response MUST be a single JSON object containing the following keys. Provide concise, bulleted string values where appropriate:\n\n{\n  \"companyOverview\": \"- [1-2 sentence description of what the company does, its mission, or value proposition, based on information likely found on their website.] (Source: Primarily Company Website via Tavily Search Results)\",\n  \"recentWebsiteNews\": \"- [Bullet point about a specific recent announcement, update, or blog post likely found on the company's website.] (Source: Link to specific page/article if found by Tavily, otherwise 'Company Website News/Blog')\\n- [Optional second bullet point.] (Source: Link or 'Company Website News/Blog')\",\n  \"keyOfferings\": \"- [Bullet point listing a key product or service.] (Source: Company Website via Tavily Search Results)\\n- [Optional second bullet point listing another offering.] (Source: Company Website via Tavily Search Results)\",\n  \"companyContactEmail\": \"[ONLY the general company contact email address found (e.g., info@company.com), OR the exact string 'No general company contact email found via Tavily search.']\", // <-- MODIFIED: Removed source instruction here\n  \"thirdPartySentiment\": \"- [Bullet point summarizing specific praise/criticism from a third-party review site/forum. Quote if concise.] (Source: [Specific URL/Site Name])\\n- [Optional second bullet point.] (Source: [Specific URL/Site Name])\"\n}\n\n**HANDLING NO RESULTS:**\nIf `tavilysearch` finds no relevant information for a specific key *other than email*, the value MUST be a string stating: \"No relevant [Category Name, e.g., recent website news] found via Tavily search.\" Source citation for website content (overview, news, offerings) can be general ('Company Website via Tavily') unless a specific article/page URL is readily available in the search results. Source citation for `thirdPartySentiment` MUST be specific. If no general contact email is found, the value for `companyContactEmail` MUST be exactly \"No general company contact email found via Tavily search.\" Do not add source citations to the `companyContactEmail` field."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        1024
      ],
      "id": "249c1457-8488-4172-b83f-fcf802e46e0f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        256
      ],
      "id": "bdf5552b-bf02-467d-b040-e50232a7862f",
      "name": "Wait5",
      "webhookId": "ef603be9-0551-46d3-ac54-72248e1ea2ed"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        240
      ],
      "id": "ae0fe1cc-a965-42d9-ad97-7e6053d72f1f",
      "name": "Loop Over Items2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        992
      ],
      "id": "5b1c8bba-8036-4568-9203-39ab4f46cfbb",
      "name": "Loop Over Items7",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/2SyF0bVxmgGr8IVCZ/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"profileUrls\": [\n        \"{{ $json.url }}\"\n    ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        256
      ],
      "id": "1dac974b-9a0a-46f5-97be-e652fec0cc09",
      "name": "Apify-linkedin-profile-scraper"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2080,
        256
      ],
      "id": "742b00d5-2d9b-45a9-9948-56e704cefaee",
      "name": "get-apify-linkedin-profile-scraper-data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        1264
      ],
      "id": "a9c75c24-e7dc-4835-9296-fdbb83d324d6",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "TM0cYlUQsQroyXgM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1488,
        384
      ],
      "id": "56cd82b3-8874-48c8-87c7-2c09ab9e3ea2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TM0cYlUQsQroyXgM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"linkedinSummary\": \"A string containing the professional snapshot, outreach angles, and unique connector.\",\n  \"outreachMessage\": \"A string containing the 2-3 sentence personalized outreach message.\",\n  \"company\": \"A string containing only the company name.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1344,
        512
      ],
      "id": "46772a64-8dca-42c8-b6cf-afde8ef63542",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"companyOverview\": \"String: 1-2 sentence description from website. (Source: ...)\",\n  \"recentWebsiteNews\": \"String: Bullet points of recent website news/blog posts. (Source: ...)\",\n  \"keyOfferings\": \"String: Bullet points of key products/services. (Source: ...)\",\n  \"companyContactEmail\": \"info@example.com\",\n  \"thirdPartySentiment\": \"String: Bullet points of third-party sentiment or 'Not found'. (Source: ...)\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        160,
        1264
      ],
      "id": "effe6d7e-89b4-4337-9bcc-e7bf7d70412e",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "jsCode": "// Get all items passed from the previous node\nconst items = $input.all();\n// Define the exact string the LLM outputs when it doesn't find the email\nconst notFoundString = \"No general company contact email found via Tavily search.\";\n\n// Loop through each item (though likely just one in this case)\nfor (const item of items) {\n  // Check if the json property and the email field exist and match the string\n  if (item.json && item.json.companyContactEmail === notFoundString) {\n    // If it matches, set the field to an empty string\n    item.json.companyContactEmail = \"\";\n  }\n}\n\n// Return the modified items\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1024
      ],
      "id": "eabe9726-c900-48c1-86d5-ef9f772d492e",
      "name": "Code2"
    },
    {
      "parameters": {
        "content": "# | Company Research\n",
        "height": 644,
        "width": 1388,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        912
      ],
      "id": "401eebec-f2dd-47d6-8818-e76d690ef126",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1088,
        1120
      ],
      "id": "a7a90a59-09eb-4d8d-825c-fdc3514373cb",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7aa4369-bf4c-4d12-8d8c-fe6a93d3c4f7",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2e85e4eb-ef54-4d33-bfb2-e39f8ac036ae",
              "leftValue": "={{ $json[\"company email\"] }}",
              "rightValue": "No general company contact email found via Tavily search.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        1120
      ],
      "id": "cc9f6184-4d6e-4489-8e1a-34d09d268f9a",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=name:  {{ $json.name }}\n\nLinkedin Summary: {{ $json[\"linkedin summary\"] }}\n\ncompany: {{ $json.company }}\n\ncompany background: {{ $json[\"company overview\"] }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an Expert B2B Cold Outreach Email Drafter. Your objective is to compose a concise, professional, and highly personalized email body (target 100-150 words) to introduce ChaseAI's AI consulting services to a business prospect.\n\n**Your Company:** ChaseAI\n**Your Offering:** AI consulting focused on helping businesses leverage AI for benefits like operational efficiency, enhanced customer engagement, data-driven decision making, and strategic growth.\n\n**Input Data Provided:**\nYou will receive the following information about the prospect and their company:\n*   `name`: The prospect's name, potentially including their title or company (extract the actual name for use).\n*   `linkedinSummary`: A structured summary derived from their LinkedIn profile, containing sections like Professional Snapshot, Outreach Angles, and Unique Connector.\n*   `company`: The name of the prospect's company.\n*   `company background`: A structured summary containing Company Overview, Recent Website News, Key Offerings, and Third-Party Sentiment about the company.\n\n**Drafting Instructions:**\n\n1.  **Identify the Strongest Hook:**\n    *   Carefully analyze BOTH the `linkedinSummary` and the `company background` inputs.\n    *   Look for the *single most compelling and relevant piece of information* to use as a personalized opening. Prioritize items like:\n        *   Specific achievements, projects, or unique connectors mentioned in the `linkedinSummary`.\n        *   Recent, significant company news (funding, major launch, partnership) from `company background`.\n        *   A key offering or aspect of the `companyOverview` that strongly aligns with potential AI applications.\n        *   A specific technical specialization or outreach angle from the `linkedinSummary`.\n    *   Choose the hook that allows the most natural and logical transition to the value of AI consulting for *this specific prospect* in *their specific company*.\n\n2.  **Structure & Content:**\n    *   **Opening (Personalized Hook):** Start by briefly acknowledging the prospect (using their name extracted from the `name` field) and referencing the specific hook you selected (1 sentence). Make it clear you've done some research.\n    *   **Introduction:** Briefly introduce ChaseAI and that you offer AI consulting (1 sentence).\n    *   **Value Proposition (Connecting the Dots):** Explain *why* AI consulting might be relevant *specifically* to them, given the hook point, their likely role (inferred from `linkedinSummary` or `name` field), and their `company`. Focus on potential benefits like efficiency, growth, tackling challenges related to their recent news, etc. (1-2 sentences).\n    *   **Call to Action (Soft):** Suggest a brief, low-pressure next step (e.g., \"Would exploring how AI could apply to [Specific Area Mentioned] be valuable?\", \"Open to a quick chat sometime next week?\").\n\n3.  **Tone:** Professional, concise, respectful, knowledgeable (demonstrated by the hook), and focused on potential value. Avoid jargon where possible.\n\n4.  **Constraints:**\n    *   Strict word count: Aim for 100-150 words for the email body.\n    *   Use only the information provided in the input fields. Do not invent details.\n    *   If both `linkedinSummary` and `company background` lack strong, specific hooks, create the most relevant message possible focusing on their likely role (inferred from `name`/`linkedinSummary`) and the `companyOverview`, connecting AI's general benefits.\n\n**Output Format:**\nReturn ONLY the drafted email body as a single string. Do not include a subject line, greeting (\"Hi [Name],\"), or sign-off (\"Best,\")."
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1840,
        1104
      ],
      "id": "76d425fa-37fd-4b9a-9f09-fbd7f0b714e7",
      "name": "Basic LLM Chain3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1824,
        1296
      ],
      "id": "7801f004-4ffd-4054-821d-4911093f5256",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "TM0cYlUQsQroyXgM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "# | Email Generation\n\n",
        "height": 600,
        "width": 1640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        944
      ],
      "id": "3d4d3784-2984-44cd-afd9-d2d88fe5e20b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "703dd5b3-1e35-4306-8529-7ee73da5baae",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "22ca7517-5e3c-478c-9dfa-d881eedf5932",
              "name": "linkedin summary",
              "value": "={{ $json[\"linkedin summary\"] }}",
              "type": "string"
            },
            {
              "id": "00757de6-779b-40a0-a4db-76d9aee0b4ce",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "184df806-7ae5-4c9e-9781-bd0d70ddec71",
              "name": "company overview",
              "value": "={{ $json[\"company overview\"] }}",
              "type": "string"
            },
            {
              "id": "73adfe2a-6a69-427b-80a1-854b5518237b",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "f761df92-6b6e-4614-8792-50a645fe6588",
              "name": "company email",
              "value": "={{ $json[\"company email\"] }}",
              "type": "string"
            },
            {
              "id": "0cd14305-6e0e-4055-ba9a-0407f265154e",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        1104
      ],
      "id": "72980efc-20f8-475b-a9c8-b62d23ed1719",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "formTitle": "Lead Gen Form",
        "formDescription": "Always Be Closing",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Campaign Name / Identifier",
              "placeholder": "Enter a unique name for this search batch (e.g., HVAC_Owners_Dallas_Run1)",
              "requiredField": true
            },
            {
              "fieldLabel": "Keywords / Job Titles",
              "placeholder": "Enter primary keywords or job titles (e.g., software company founder)",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "Location",
              "requiredField": true
            },
            {
              "fieldLabel": "Number of NEW Profiles to Find",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -928,
        448
      ],
      "id": "2adb0f40-00d2-4e9f-b5d5-2994ab702f3a",
      "name": "On form submission",
      "webhookId": "5335954a-61c6-4d17-89fc-e142c0699905"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ",
          "mode": "list",
          "cachedResultName": "Linkedin Outreach URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/193YRcCn3bgLGnYgKZ5UQQ8eieaYpJtU5Xn6KzrABwlQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -704,
        608
      ],
      "id": "722f6b4a-762b-41ed-b7de-8e8728cc5247",
      "name": "Count Existing Query Rows",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items passed from the previous node\n// $input.all() ensures we get the array of all input items\nconst incomingItems = $input.all();\n\n// Get the total number of items\nconst count = incomingItems.length;\n\n// Create the output data structure: a single object containing the count\n// The output needs to be wrapped in an array as n8n expects item(s)\nconst outputData = [{\n  json: {\n    existingCount: count\n  }\n}];\n\n// Return the single item array\nreturn outputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        608
      ],
      "id": "94591fda-5593-4aa0-be49-a938b35c14a7",
      "name": "Code3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -272,
        528
      ],
      "id": "3e74c03b-6952-48c9-b066-ba3a7d4c3123",
      "name": "Merge1"
    },
    {
      "parameters": {
        "content": "# | LinkedIn Scraper + Enhanced Outreach Workflow\n\n# How It Works\n\n## 1) Fill out form with search criteria\n## 2) Scrape LinkedIn URLs with Google CSE\n## 3) Feed LI URLs to Apify\n## 4) Apify scrapes LI profile information\n## 5) GPT synthesizes LI profile information\n## 6) Company research via Tavily, GPT synthesis\n## 7) LI info + company information + your individual offer is fed to GPT to create customized outreach messaging  \n\n# APIs Needed\n\n## 1) Google Custom Search Engine ($0)\n## 2) AI API of choice (variable, pennies per run)\n## 3) Apify ($39 / month)\n## 4) Tavily ($0 for first 1000 credits)\n\n\n# Other Features\n\n## 1) Duplication Protection\n## 2) Smart Pagination\n## 3) ~20s / lead total run time",
        "height": 1620,
        "width": 660,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4176,
        -112
      ],
      "id": "5f220bcd-bf87-42ae-a8b8-c6fe895a4c1a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company": "={{ $('Loop Over Items7').item.json.company }}",
            "company overview": "={{ $json.output.companyOverview }}\n{{ $json.output.recentWebsiteNews }}\n{{ $json.output.keyOfferings }}\n{{ $json.output.thirdPartySentiment }}",
            "company email": "={{ $json.output.companyContactEmail }}"
          },
          "matchingColumns": [
            "company"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin summary",
              "displayName": "linkedin summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin outreach",
              "displayName": "linkedin outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company overview",
              "displayName": "company overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrape complete?",
              "displayName": "scrape complete?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Outreach",
              "displayName": "Email Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        336,
        1280
      ],
      "id": "3aafa237-1287-4964-9601-2033e7572385",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('get-apify-linkedin-profile-scraper-data').item.json.email }}",
            "linkedin summary": "={{ $json.output.linkedinSummary }}",
            "url": "={{ $('Aggregate').item.json.data[0].linkedinUrl }}",
            "company": "={{ $json.output.company }}",
            "linkedin outreach": "={{ $json.output.outreachMessage }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin summary",
              "displayName": "linkedin summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin outreach",
              "displayName": "linkedin outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company overview",
              "displayName": "company overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrape complete?",
              "displayName": "scrape complete?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Outreach",
              "displayName": "Email Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2160,
        480
      ],
      "id": "622b7fee-ca5b-4cb0-aabc-16b547229c34",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('If').item.json.name }}",
            "Email Outreach": "no email found",
            "email": "=no email found",
            "scrape complete?": "Yes",
            "company email": "no email found"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin summary",
              "displayName": "linkedin summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin outreach",
              "displayName": "linkedin outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company overview",
              "displayName": "company overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scrape complete?",
              "displayName": "scrape complete?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Outreach",
              "displayName": "Email Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1120,
        1360
      ],
      "id": "70ca009d-6292-4e3b-a843-b549360c1098",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "scrape complete?",
              "lookupValue": "No"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1296,
        1120
      ],
      "id": "81f00e46-1438-47cb-8c53-e1f29911fc83",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Hi ",
        "message": "={{ $json.text }} ",
        "options": {
          "sendTo": "={{ $('Edit Fields').item.json.email || $('Edit Fields').item.json['company email'] }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2224,
        1200
      ],
      "id": "ad0cd93d-5c81-44e5-8c42-4af84190f14d",
      "name": "Create a draft",
      "webhookId": "83fca641-b997-4dfd-b104-2bbc3d291081",
      "credentials": {
        "gmailOAuth2": {
          "id": "xv9JmbNzSgdvx9nR",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email Outreach": "={{ $json.text }}",
            "url": "={{ $('Edit Fields').item.json.url }}",
            "scrape complete?": "Yes"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin summary",
              "displayName": "linkedin summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin outreach",
              "displayName": "linkedin outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company overview",
              "displayName": "company overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scrape complete?",
              "displayName": "scrape complete?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Outreach",
              "displayName": "Email Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2224,
        976
      ],
      "id": "78f1dbe8-ad0e-4c6c-a97a-eacaaf3ceaf3",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "scrape complete?",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        576,
        624
      ],
      "id": "fbe0fb34-a91f-46fa-9ef3-e0820f84f3ef",
      "name": "Get row(s) in sheet1",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0",
          "mode": "list",
          "cachedResultName": "LinkedIn Scrapers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1vHqXo3jbjZwPurHfeV4HbbX0h4ArzTA-VrmiOX67BV0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "url": "={{ $json.url }}",
            "Campaign Name": "={{ $('On form submission').first().json[\"Campaign Name / Identifier\"] }}",
            "scrape complete?": "No"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin summary",
              "displayName": "linkedin summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "linkedin outreach",
              "displayName": "linkedin outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company overview",
              "displayName": "company overview",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company email",
              "displayName": "company email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scrape complete?",
              "displayName": "scrape complete?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email Outreach",
              "displayName": "Email Outreach",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        416
      ],
      "id": "ac6ba1f0-d6a6-4092-b830-336e0eefcb4a",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hL2NyVFuqrGAHMCM",
          "name": "Google Sheets vishwajith"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Campaign Name / Identifier": "test",
          "Keywords / Job Titles": "software company founder",
          "Location": "chicago",
          "Number of NEW Profiles to Find": "10",
          "submittedAt": "2025-04-30T17:38:39.125-05:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing URLs": {
      "main": [
        [
          {
            "node": "Build Existing Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Existing Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tavilysearch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait5": {
      "main": [
        [
          {
            "node": "get-apify-linkedin-profile-scraper-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apify-linkedin-profile-scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items7": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify-linkedin-profile-scraper": {
      "main": [
        [
          {
            "node": "Wait5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get-apify-linkedin-profile-scraper-data": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain3": {
      "main": [
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Count Existing Query Rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Existing URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Existing Query Rows": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a21a648d-5d9b-49a1-bcd8-79f5ad0ad2ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67379b0cc17973e8a09685d9c6a8e63e4a01b5d249769202791b337c8c845e41"
  },
  "id": "YqUpOmlRva1jXdVl",
  "tags": []
}